<tr>
<% @user.medications.each do |m| %>
  <td><%= link_to m.brand_name, medication_path(m) unless m.brand_name.nil? %></td>
  <td><%= link_to m.generic_name, medication_path(m) unless m.generic_name.nil? %></td>
  <td><%= m.dose %></td>
  <td><%= m.administration_route %></td>
  <td><%= m.frequency %></td>
  <td><%= m.provider_profiles.find_by(params[:medication_id]).name %></td>
</tr>
<% end %>
