<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@medication) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% f.hidden_field :medication_id, value: @medication.id %>
      <div class="field">
        <%= f.label :brand_name, "Brand Name" %> <br />
        <%= f.text_field :brand_name, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :generic_name, "Generic Name" %> <br />
        <%= f.text_field :generic_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :dose, "Dose" %> <br />
        <%= f.text_field :dose, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :administration_route, "Route" %><br />
        <%= f.text_field :administration_route, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :frequency, "Frequency" %><br />
        <%= f.text_field :frequency, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.fields_for :provider_profiles do |ff| %>
          <%= ff.hidden_field :user_id, value: @user.id %>
          <%= ff.label :name, "Prescribing Doctor or OTC" %>
          <%= ff.text_field :name, class: 'form-control' %><br />
          <%= ff.label :telephone, "Provider Telephone" %>
          <%= ff.text_field :telephone, class: 'form-control' %><br />
          <%= ff.label :address, "Provider Address" %>
          <%= ff.text_field :address, class: 'form-control' %>
          <%= ff.label :website, "Provider Website" %>
          <%= ff.text_field :website, class: 'form-control' %>
        <% end %>
      </div>

      <div class="field">
        <%= f.fields_for :notes do |ff| %>
          <%= ff.label :note %>
          <%= ff.hidden_field :user_id, value: @user.id %>
          <%= ff.text_field :content, class: 'form-control' %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Save", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
