<h1>Current Medications</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan=4>
          <h3>Name: <%= @user.first_name %> <%= @user.last_name %></h3>
      </th>
      <th>
        <h3>Birthdate: <%= @user.birthdate %></h3>
      </th>
    </tr>
    <tr>
      <th>Brand Name</th>
      <th>Generic Name</th>
      <th>Dose</th>
      <th>Route</th>
      <th>Frequency</th>
      <th>Prescribing Doctor or OTC</th>
    </tr>
  </thead>
    <tr>
      <% @user.medications.each do |m| %>
      <td><%= link_to m.brand_name, medication_path(m) unless m.brand_name.nil? %></td>
      <td><%= link_to m.generic_name, medication_path(m) unless m.generic_name.nil? %></td>
      <td><%= m.dose %></td>
      <td><%= m.administration_route %></td>
      <td><%= m.frequency %></td>
      <td><%= m.doctor %></td>
    </tr>
    <% end %>
  </table>
  <%= link_to "Add a new medication", new_user_medication_path(@user) %>
