<h1>Your medication</h1>
<table class="table">
<tr>
  <td>Brand name: </td>
  <td><%= @medication.brand_name %></td>
</tr>
<tr>
  <td>Generic name: </td>
  <td><%= @medication.generic_name %></td>
</tr>
<tr>
  <td>Dose: </td>
  <td><%= @medication.dose %></td>
</tr>
<tr>
  <td>Route: </td>
  <td><%= @medication.administration_route %></td>
</tr>
<tr>
  <td>Frequency: </td>
  <td><%= @medication.frequency %></td>
</tr>
<tr>
  <td>Doctor or OTC? </td>
  <td><%= @medication.doctor %></td>
</tr>
</table>
<nav>
  <%= link_to "Edit", edit_medication_path(@medication), class: "btn btn-default" %>
  <%= link_to "Delete", medication_path(@medication),
      method: :delete, class: "btn btn-default" %>
  <%= link_to "New", new_user_medication_path(@medication.user), class: "btn btn-default" %>
  <%= link_to "Chart", user_medications_path(@medication.user), class: "btn btn-default" %>
  <%= link_to "Add notes", new_medication_note_path(@medication), class: "btn btn-default" %>
</nav>
