<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <table class="table table-bordered">
    <tr>
      <td>Brand name: </td>
      <td><%= @medication.brand_name %></td>
    </tr>
    <tr>
      <td>Generic name: </td>
      <td><%= @medication.generic_name %></td>
    </tr>
    <tr>
      <td>Dose: </td>
      <td><%= @medication.dose %></td>
    </tr>
    <tr>
      <td>Route: </td>
      <td><%= @medication.administration_route %></td>
    </tr>
    <tr>
      <td>Frequency: </td>
      <td><%= @medication.frequency %></td>
    </tr>
    <tr>
      <td>Doctor or OTC? </td>
      <td><%= link_to @provider_profile.name, medication_provider_profile_path(@medication, @provider_profile) %></td>
    </tr>
    <tr>
      <td colspan="2">
        <em>Added: <%= @medication.created_at.strftime("%m-%e-%Y") %> &mdash;
        Updated: <%= @medication.updated_at.strftime("%m-%e-%Y") %></em>
      </td>
    </tr>
    </table>
    <nav>
      <%= render 'medications_nav' %>
    </nav>
  </div>
  <aside class="col-md-4 col-md-offset-1">
    <h3>Most Recent Note for <%= @medication.brand_name if !@medication.brand_name.empty? %>
  <%= @medication.generic_name if @medication.brand_name.empty? %></h3>
    <%= render 'most_recent_notes' %>
  </aside>
</div>
