<p id="notice"><%= notice %></p>

<h1>Provider Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provider_profiles.each do |provider_profile| %>
      <tr>
        <td><%= link_to 'Show', provider_profile %></td>
        <td><%= link_to 'Edit', edit_provider_profile_path(provider_profile) %></td>
        <td><%= link_to 'Destroy', provider_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider Profile', new_provider_profile_path %>
